.avatar {
    width:250px;
    height:250px;
    border-radius: 10%;
    /* margin-top:-30px; */
}

.logo{
    font-size: larger;
}

.navbar-brand {
    font-size: 2.0rem; /* Adjust size as needed */
    font-weight: bold; /* Optional: make it bold */
  }
  
